<!DOCTYPE html>
<html>
<head>
  <% provide :title, t(".provide_title") %>
</head>
<body>
  <h1><%= t(".help") %></h1>
  <p>
  <%= t(".main_page_first") %>
  <a href="http://www.railstutorial.org/help"><%= t(".rails_help") %></a>
  <br>
  <%= t(".main_page_last") %>
  <a href="http://www.railstutorial.org/book"><%= t(".rails_book") %></em></a>
  </p>
  </p>
</body>
</html>
